@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe")
@import url("https://fonts.googleapis.com/css?family=Mukta+Malar:300,700")


*  {

}
.grid-layout {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  font-family: sans-serif;
}
.grid-layout  .ostia {
  background-color: #2fc4b2;
}
.grid-layout nav a  {
  display: block;
  text-decoration: none;
  width: 100%;
  color: #f17808; 
  text-align: left;
  			
}

.grid-layout .ostia a {
  border-bottom: 1px solid aquamarine;
  padding: 10%;
}
.grid-layout nav a:hover {
  background-color: #12947f;
  color: #e71414;			
}
.grid-layout  header {
  grid-column: 1/3;
  background-color: #1b6ca8;
}
.grid-layout header h1 {
  color: #edf492;
  text-align: center;
}
.grid-layout .header__left-side {
  color: #efb960 ;
  grid-column: 1/3;
  text-align: center;
}
.grid-layout .header__right-side {
  text-align: center;
  color: #efb960;
  grid-column: 1/3;

}
.grid-layout .main {
  background-color: #fe8a71;
 }
 